<div class="container">
  <h2>新規登録</h2>

  <div>
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field row">
        <p class="col-4">名前</p>
        <%= f.text_field :name, class: "col-8" %>
      </div>

      <div class="field row">
        <p class="col-4">ニックネーム</p>
        <%= f.text_field :nickname %>
      </div>


      <div class="field row">
        <p class="col-4">メールアドレス</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field row">
        <p class="col-4">パスワード</p>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field row">
        <p class="col-4">パスワード(確認)</p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>

    <p>登録済みの方は<%= link_to 'こちら', new_user_session_path %>からログインしてください</p>
  </div>
</div>
