<div class="container">
  <h2 class="mt-3 col-3 text-center">会員情報編集</h2>

  <div class="justify-content-center">
    <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>

      <div class="row mb-3 mt-5">
        <p class="col-3">プロフィール画像</p>
        <%= f.file_field :profile_image, class: "col-5" %>
      </div>

      <div class="mb-3 row">
        <p class="col-3">名前</p>
        <%= f.text_field :name, class: "col-5" %>
      </div>

      <div class="mb-3 row">
        <p class="col-3">ニックネーム</p>
        <%= f.text_field :nickname, class: "col-5" %>
      </div>


      <div class="mb-3 row">
        <p class="col-3">メールアドレス</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-5" %>
      </div>

      <% if current_user.is_admin? %>
       <div class="mb-3 text-center">
         <%= f.radio_button :is_deleted, "false", class: "me-2" %><%= f.label :is_deleted, '有効', value: false %>
         <%= f.radio_button :is_deleted, "true", class: "me-2" %><%= f.label :is_deleted, '退会させる', value: true %>
       </div>
      <% end %>

      <div class="text-center">
        <div>
          <%= f.submit "変更を保存", class: "btn btn_form" %><%= link_to '戻る', photos_path, class: "btn btn_form ms-5" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
