<div class="container">
  <h2 class="mt-5 col-3 text-center">ログイン</h2>

  <div class="justify-content-center">
    <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="row mb-3 mt-5">
        <p class="col-3">メールアドレス</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-5" %>
      </div>

      <div class="row mb-3 mt-5">
        <p class="col-3">パスワード</p>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-5" %>
      </div>

      <div class="text-center col-7 mt-5">
        <%= f.submit "ログイン", class: "btn btn_form" %>
      </div>
    <% end %>
  </div>

  <p class="mt-5 col-5 text-center">会員登録がお済みでない方は<%= link_to 'こちら', new_user_registration_path %>から新規登録を行ってください</p>
</div>
