

<div class="d-flex flex-wrap justify-content-center">
  <% photos.each do |photo| %>
    <div class="card mt-3 mb-3 me-3 shadow" style="height:370px; width: 300px;">
      <%= link_to photo_path(photo.id) do %>
        <%= image_tag photo.image, class: "card-img-top", style: "height:170px; width:300px;" %>
      <% end %>
      <div class="card-body shadow">
        <p>
         <i class="fas fa-tag"></i>
         <% photo.tags.each do |tag| %>
           <%= link_to tag.name, tags_search_path(tag_id: tag.id) %>
         <% end %>
        </p>
        <p class="card-text"><%= photo.body %></p>
        <p class="card-text"><%= photo.address %></p>
        <p class="card-text">
          <%= link_to user_path(photo.user.id), class: "text-dark" do %>
            <% if photo.user.profile_image.attached? %>
              <%= image_tag photo.user.profile_image, class: 'photo_user_icon' %>
            <% else %>
              <%= image_pack_tag 'no_image.jpg', class: 'photo_user_icon' %>
            <% end %>
            <%= photo.user.nickname %>
          <% end %>
           ♥<%= photo.favorites.count %>
          <%= photo.created_at.strftime('%Y/%m/%d %H:%M') %>
        </p>
      </div>
    </div>
  <% end %>
</div>