<div class="container">
  <div class="mt-5 pb-3 justify-content-center">
   <%= form_with model: @photo, url:photo_path(@photo.id), method: :patch do |f| %>
    <div class="text-center row mb-3">
     <p class="mb-1 col-2">画像</p>
     <%= f.file_field :image, class: "col-5" %>
    </div>
    <div class="text-center row mb-3">
      <p class="mb-1 col-2">コメント</p>
      <%= f.text_area :body, class: "col-4" %>
    </div>
    <div class="text-center row mb-3">
      <p class="mb-1 col-2">撮影場所</p>
      <%= f.text_field :address, class: "col-4" %>
    </div>
    <div class="text-center row mb-3">
      <p class="mb-1 col-2">タグ</p>
      <%= f.text_field :name, value: @tag_list, placeholder: ",で区切ってください", class: "col-4" %>
    </div>
    <div class="mt-3 col-6 text-center">
      <%= f.submit '変更を保存', class: "btn btn_form" %><%= link_to '戻る', photo_path(@photo.id), class: "btn btn_form ms-5" %>
    </div>
   <% end %>
  </div>
</div>