<div class="container">
  <div class="row">
    <div class="col-3 border-end">
        <div class="mb-5 ">
          <%= render 'users/mypage', user: @user %>
        </div>

        <%= render 'form', photo: @photonew %>
    </div>

    <div class="col-5">
      <div class="text-center">
       <%= image_tag @photo.image, size: "500x350", class: "mt-5 ms-5" %>
      </div>

      <div class="text-center">
        <%= @photo.body %>
      </div>
      <div class="text-center">
        <%= @photo.address %>
      </div>
      <div class="text-center">
        <i class="fas fa-tag"></i>
        <% @photo_tags.each do |tag| %>
          <%=tag.name%>
        <% end %>
      </div>
      <div class="row">
       <div class="col-3 text-end">
        <% if @photo.user.profile_image.attached? %>
          <%= image_tag @photo.user.profile_image, class: 'photo_user_icon' %>
        <% else %>
          <%= image_tag 'no_image', class: 'photo_user_icon' %>
        <% end %>
        <%= link_to @photo.user.nickname, user_path(@photo.user.id), class: "text-dark" %>

       </div>
       <div class="favorite_btn_<%= @photo.id %> col-4 text-start ms-0">
        <%= render 'favorites/favorite-btn', photo: @photo %>
       </div>
       <div class="col-4">
        コメント件数：<%= @photo.photo_comments.count %>
       </div>
      </div>
      <div class="text-center">
        <% if current_user == @photo.user %>
         <%= link_to '編集', edit_photo_path(@photo.id), class: "btn btn_form" %>
         <%= link_to "削除", photo_path(@photo.id), method: :delete, class: "btn btn_form ms-5" %>
        <% end %>
       </div>
    </div>
    <div class="col-4">
      <div class="row">
       <%= form_with model: [@photo, @photo_comment] do |f| %>
        <div class="">
         <%= f.text_area :comment, placeholder: "コメントをここに",class: 'photo-comment col-8 ms-5 me-3 mt-3' %><%= f.submit "送信", class: "col-2 mb-5 btn btn_form" %>
        </div>
       <% end %>
       <% @photo.photo_comments.each do |photo_comment| %>
        <div class="t">
　　　　 <% if photo_comment.user.profile_image.attached? %>
          <%= image_tag photo_comment.user.profile_image, class: 'user_icon' %>
         <% else %>
          <%= image_tag 'no_image', size: "50x50", class: 'user_icon' %>
         <% end %>
         <%= photo_comment.user.nickname %>
         <%= photo_comment.comment %>
         <% if photo_comment.user == current_user %>
          <%= link_to photo_photo_comment_path(photo_comment.photo, photo_comment), method: :delete, class: "btn btn-danger" do %>
           <i class="fa-solid fa-trash-can"></i>
          <% end %>
         <% end %>
        </div>
       <% end %>
      </div>
    </div>

  </div>
</div>