<div class="container">
  <div class="row">
    <div class="col-3 border-end">
        <div class="mb-5 ">
          <%= render 'users/mypage', user: @user %>
        </div>

        <%= render 'form', photo: @photonew %>
    </div>

    <div class="col-9 justify-content-center">
      <div class="text-center">
       <%= image_tag @photo.image, size: "500x350", class: "mt-5 ms-5" %>
      </div>
      <p class="text-center">
        <% @photo_tags.each do |tag| %>
          <%=tag.name%>
        <% end %>
      </p>
      <p class="text-center">
        <%= @photo.body %>
      </p>
      <p class="text-center">
        <%= @photo.address %>
      </p>
      <p class="text-center">
        <% if @photo.user.profile_image.attached? %>
          <%= image_tag @photo.user.profile_image, class: 'photo_user_icon' %>
        <% else %>
          <%= image_tag 'no_image', class: 'photo_user_icon' %>
        <% end %>
        <%= @photo.user.nickname %>
      </p>
      <div class="text-center">
        <% if current_user == @photo.user %>
         <%= link_to '編集', edit_photo_path(@photo.id), class: "btn btn_form" %>
         <%= link_to "削除", photo_path(@photo.id), method: :delete, class: "btn btn_form ms-5" %>
        <% end %>
       </div>
    </div>

  </div>
</div>